<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/home/reza/vscode/Django-the-first-project/static/src/output.css" rel="stylesheet">
    <title>Store</title>
</head>
<body>  
    <div>
        {% if products %}
            <h2 class="">available products</h2>
            <ul>
                {% for i in products %}
                    <li>{{ i.product_name }}{{ i.product_price }}</li>
                {% endfor %}    
            </ul>
        {% else %}   
            <p>no products available</p>
        {% endif %}
    </div>
</body>
</html>